// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification_style li {
  list-style: none;
}

.flash_notice {
  color: red;
  margin-top: 30px;
}

.home {
  margin-top: 30px;
}
